*.class
.mtj.tmp/
*.jar
*.war
*.ear
*.iml
hs_err_pid*
.gradle
build
.idea
**/*.log
**/*.log.*
test-output
flex-core/src/main/java/com/ozstrategy
.DS_Store
atlassian-ide-plugin.xml
.gradletasknamecache
target
**/rebel.xml
node_modules
